*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    color: #122D6B;
    font-family: 'Noto Serif JP', serif;
}
h1,h2,h3{
    font-family: 'Crimson Text', serif;
}




/* 構図用css */
.example-classname{
    background: #EEE;
    padding: 40px;
    font-size: 20px;
    height: 100vh;
  }

  .split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #122D6B;
    color: #fff;
    position: relative;
}
.split-left__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}
.split-right__inner{
    height: 100%;
    width: 50vw;
}

/* レスポンシブ-スマホ- */
@media all and (max-width:599px){
    .split{
        display: flex;
        flex-direction: column;
    }
    .split,.split-item,.split-left__inner,.split-right__inner,.split-left{
        position: static;
        width: 100vw;
    }

}