*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.example-classname{
    background: #2cc3ce;
    padding: 40px;
    color: #fff;
    font-size: 20px;
    height: 100vh;
  }
  .example-classname:nth-child(2){
    background: #f73656;
  }

  .split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #000;
    color: #fff;
    position: relative;
}
.split-left__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}
.split-right__inner{
    height: 100%;
    width: 50vw;
}